.contact {
  padding: 6.5rem 0 3.125rem 0;
  text-align: center;
}

.form-contact {
  display: flex;
  gap: 1.875rem;
  margin-top: 5.625rem;
}

.form-contact__field {
  margin: 2.0625rem auto 0;
  max-width: 570px;
  width: 570px;
}

.form-contact__btn {
  margin: 3.125rem auto 0 auto;
}
