.pricing {
  padding: 6.5rem  0 16.67rem  0;
  background: #f5f5f5;
}

.pricing__content {
  display: flex;
  gap: 1.875rem;
  margin-top: 4.9375rem;
}

.list {
  list-style: none;
  padding: 0;
  border-top: 0.125rem solid #dddbdb;
  border-bottom: 0.125rem solid #dddbdb;
  flex-basis: 33.3333%;
}

.list__item {
  padding: 0.9375rem;
  background-color: #fff;
  color: #86878b;
  text-align: center;

  font-size: 1.125rem;

  border-left: 0.125rem solid #dddbdb;
  border-right: 0.125rem solid #dddbdb;
}

.list:hover {
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
  transform: translateY(-50px);
}

.list__item_primary {
  background-color: #333;
  color: #fff
}

.list__item_lg {
  padding: 1.125rem;
  font-size: 2.25rem;
}

.list__item_md {
  font-size: 1.5rem;
}

.list__item_md,
.list-item-lg {
  font-weight: 700;
}

.list__item_muted {
  color: rgba(255, 255, 255, 0.5);
}
