.social {
  background: #f8efef;
}

.social__content {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.social__promo {
  max-width: 470px;
}

.social__desription {
  margin-top: 2rem;
  color: #86878b;
}

.social__menu {
  display: flex;
  gap: 1.875rem;
}
