/*Default styles*/

:root {
  --color-primary-default: #ec7979;
  --color-primary-active: #ab4949;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  font: 400 1.125rem/1.17 'Raleway';
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  font-size: 2.25rem;
  font-weight: inherit;
  text-transform: uppercase;
}

h3,
h4 {
  font-family: 'Open Sans';
  font-weight: 700;
  line-height: 1.37;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.125rem;
  font-weight: inherit;
}

h6 {
  font-family: 'Open Sans';
  font-size: 0.875rem;
  font-weight: inherit;
}

p {
  font-size: 1.125rem;
  font-weight: inherit;
}

a {
  font-family: 'Open Sans';
  font-size: 0.865rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  display: block;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*Common styles*/

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/*Input*/

.input {
  display: block;
  width: 370px;
  max-width: 370px;
  padding: 0;
  padding-bottom: 1rem;
  appearance: none;
  border: 0;
  border-bottom: 0.0625rem solid #bdbdbd;
  font: 400 0.875rem/1.36 'Open Sans';
  color: #bdbdbd;
}

/*Logo*/

.logo {
  width: 87px;
}

.logo_lg {
  width: 170px;
}

/*Promo*/

.promo {
  text-align: center;
  margin: 0 auto;
}

.promo_left {
  text-align: left;
  margin: 0;
}

.promo__title {
  max-width: 670px;
}

.promo__title_white {
  color: #fff;
}

.promo__separator {
  max-width: 170px;
  height: 1px;
  margin: 3.375rem 0 2.75rem 0;
  background: var(--color-primary-active);
}

.promo__separator_white {
  background: #fff;
}

.promo__subtitle {
  color: #86878b;
}

.promo__subtitle_sm {
  max-width: 270px;
  color: #fff;
}

.promo__btn {
  margin-top: 2.625rem;
}

/*Button*/
.btn {
  font: 600 1.125rem/1.39 'Open sans';
  text-decoration: none;
  background-color: transparent;
  border: 0.125rem solid transparent;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 1.0625rem 5.625rem;

  color: #000;
}

.btn_primary {
  border: 0.125rem solid #fff;
  color: #fff;
}

.btn_primary:hover {
  border: 0.125rem solid var(--color-primary-default);
  color: var(--color-primary-default);
}

.btn_primary:active {
  background: var(--color-primary-active);
  border: 0.125rem solid var(--color-primary-active);
  color: #fff;
}

.btn_secondary {
  background: var(--color-primary-default);
  color: #fff;
}

.btn_secondary:hover {
  background: var(--color-primary-active);
  color: #fff;
}

.btn_secondary:active {
  background: var(--color-primary-default);
  color: #fff;
  box-shadow: inset 0px 0px 10px var(--color-primary-active);
}
