.article {
  display: flex;
  justify-content: space-between;

  &__content {
    max-width: 570px;
    padding: 2.625rem 0 3.375rem 6.25rem;
  }

  &__title {
    margin-bottom: 3.5rem;
  }

  &__text {
    margin: 0.75rem 0;
  }

  &__btn {
    margin-top: 0.9375rem;
  }

  &__cover {
    width: 470px;
    height: 500px;
  }
}
