.form-sign {
  width: 470px;
  max-width: 470px;
  height: 100%;
  border-radius: 0.625rem;
  background: #fff;
  text-align: center;

  &__title {
    text-transform: uppercase;
    margin: 1.875rem 0 2.5rem 0;

    &_red {
      color: $color-primary-default;
    }
  }

  &__field {
    margin: 2.0625rem auto 0;
  }

  &__btn {
    width: 100%;
    margin-top: 4.6875rem;
    border-radius: 0px 0px 0.625rem 0.625rem;
  }
}
