.social {
  background: #f8efef;

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    @media (max-width: 320px) {
      display: block;
      text-align: center;
      padding: 2.625rem 0;
    }
  }

  &__promo {
    max-width: 470px;
  }

  &__desription {
    margin-top: 2rem;
    color: #86878b;

    @media (max-width: 320px) {
      margin: 1rem 0 2rem 0;
    }
  }

  &__menu {
    display: flex;
    gap: 1.875rem;

    @media (max-width: 320px) {
      gap: 1rem;
    }
  }
}
